body {
    min-height: 100vh;
    font-family: "Open Sans Condensed";
    background: linear-gradient(125deg, #ffffff 0%, #000000 100%),
        linear-gradient(
            200deg,
            #ffd9e8 0%,
            #ffd9e8 50%,
            #de95ba calc(50% + 1px),
            #de95ba 60%,
            #7f4a88 calc(60% + 1px),
            #7f4a88 75%,
            #4a266a calc(75% + 1px),
            #4a266a 100%
        ),
        linear-gradient(
            113deg,
            #ffd9e8 0%,
            #ffd9e8 40%,
            #de95ba calc(40% + 1px),
            #de95ba 50%,
            #7f4a88 calc(50% + 1px),
            #7f4a88 70%,
            #4a266a calc(70% + 1px),
            #4a266a 100%
        );
    background-blend-mode: overlay, overlay, normal;
}

a {
    color: black;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
